.active-tab {
    border-left: 3px solid darkred;
}

#accordionSidebar {
    position: relative;
}

#sidebarToggle {
    position: absolute;
    top: 4px;
    right: -20px;
    z-index: 999;
}

.sidebar-dark .sidebar-brand {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}


/* Skills progressBar */

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .65rem;
    box-sizing: border-box;
}

.contain svg {
    transform: rotate(-90deg);
}

.path {}

@keyframes run {
    to {
        stroke-dashoffset: 0;
    }
}


/* Confirm Modal */

#deleteModal .modal-confirm {
    color: #636363;
    width: 400px;
}

#deleteModal .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

#deleteModal .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

#deleteModal .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

#deleteModal .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

#deleteModal .modal-confirm .modal-body {
    color: #999;
}

#deleteModal .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

#deleteModal .modal-confirm .modal-footer a {
    color: #999;
}

#deleteModal .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

#deleteModal .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

#deleteModal .modal-confirm .btn,
#deleteModal .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

#deleteModal .modal-confirm .btn-secondary {
    background: #c1c1c1;
}

#deleteModal .modal-confirm .btn-secondary:hover,
#deleteModal .modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

#deleteModal .modal-confirm .btn-danger {
    background: #f15e5e;
}

#deleteModal .modal-confirm .btn-danger:hover,
#deleteModal .modal-confirm .btn-danger:focus {
    background: #ee3535;
}

#deleteModal .trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/*  Done Modal */

#DoneModal .modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}

#DoneModal .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

#DoneModal .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

#DoneModal .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

#DoneModal .modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

#DoneModal .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

#DoneModal .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

#DoneModal .modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#DoneModal .modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

#DoneModal .modal-confirm.modal-dialog {
    margin-top: 80px;
}

#DoneModal .modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

#DoneModal .modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}

#DoneModal .trigger-btn {
    display: inline-block;
    margin: 100px auto;
}